.topmenu ul li ul li ul li, .activetop>a {color: red; font-weight: 600;}
.topmenu ul li ul li ul li, .activetop>a:after {content: ""; display: block; width:100%; border-bottom: 2px solid red; margin: 15px 0px 0px 0px;}

*{
	margin:0 auto;
	padding: 0;
	list-style: none;
  margin-bottom: 10px;
  box-sizing: border-box;
  margin: auto;
  font-family: 'Yeon Sung', cursive;
}

.frame {
    height: 100px;
    line-height: 100px;
    overflow: hidden;
}
.frame ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 20px;
}
.frame ul li {
    float: left;
    width: 227px;
    height: 100%;
    /* margin: 0 1px 0 0; */
    padding: 0;
    background: #333;
    color: #ddd;
    text-align: center;
    cursor: pointer;
}

.menu{
  border-top: 5px solid black;
  margin-bottom: 10px;
  margin-top: 10px;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.menu >a {
  font-size: 30px;
}
  

  header > a{
  font-size: 30;
  }
  
  
  header ul {
  width:100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;  
  }
  
  header ul > li {
  font-size:30px;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: darkgreen;
  width: 20%;
  justify-content: center;
  color: white;
  }


.content{
    background-color: aquamarine;
    min-height: 500px;
}


html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size:20px;
  color: #000;
  margin: 0;
  padding: 0;
  margin: auto;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 25px;
  background: #fff;
  letter-spacing: 2px;
  line-height: 40px;
  word-wrap:break-word;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#slide1, #slide2, #slide3{
  background-color: black;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  color:white
}
/* #slide2{
  background-color:red;
  color:white;

  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#slide3{
    background-color: blue;
    color:white;

  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */


/* .swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal{
  justify-content: center;
} */
  



.swiper-pagination {
  justify-content: center;
	position: absolute;
	top: 10px;
	width: auto !important;
	left: auto !important;
	margin: 0;
}
.swiper-pagination-bullet {
  justify-content: center;
	padding: 5px 10px;
	border-radius: 0;
	width: auto;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	color:white;
	opacity: 1;
	background: rgba(0,0,0,0.2);
}
.swiper-pagination-bullet-active {
	color:#fff;
	background-color: white;
}


.paginationbox{
  width: 100%;
  justify-content: center;
}

/* 페이지 인식 ver1
.swiper-wrapper li{width:100px; height:30px; color:darkgray;}

활성화 되었을때 스타일
.swiper-slide swiper-slide-active {color:red}  */


.num {
  background-color: #ddd;
}

.num-active{
  border-radius: 10px;
  background-color:darkturquoise
}


h2{
  text-align: center;
  margin: 50px 0 10px 0;
}

p{
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 1.3;
}


.wrap-vertical{
  display: flex;
  width: 70%;
  padding: 20px;
  overflow: scroll;
  color: #112031;
  background: #F0D9FF;
  border: 3px solid #000;
  border-radius: 5px;

   /* 가로 스크롤 */
  overflow: auto;
  white-space: nowrap;
}
/* .wrap-vertical::-webkit-scrollbar{
  display: none; 
} */

#banner1, #banner2, #banner3, #banner4, #banner5,#banner6,#banner7,#banner8,
#banner9,#banner10,#banner11,#banner12
{
  display: inline-block;
  padding: 20px;
  min-height:max-content;
  background-color: darkgrey;
  margin-right: 20px;
  font-size: 40px;
  border-radius: 10px;
  
}


.title{
  font-size: 40px;
}

.menu a{
  font-size: 40px;

}
/* @media screen and (max-width: 767px) {
  *{
    margin:0 auto;
    padding: 0;
    list-style: none;
    margin-bottom: 10px;
    box-sizing: border-box;
    margin: auto;
    font-family: 'Yeon Sung', cursive;
  }

  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 10px;
    color: #000;
    margin: 0;
    padding: 0;
    margin: auto;
  }

  .swiper-slide{
    font-size: 20px;
    line-height: 35px;
  }
  .wrap-vertical{
    width: 100%;
  }
  .swiper-pagination-bullet{
    line-height: 10px;
  }

  #banner1, #banner2, #banner3, #banner4, #banner5,#banner6,#banner7,#banner8,
  #banner9,#banner10,#banner11,#banner12{
  padding: 25px;

    font-size: 15px;
  }

  .title{
    font-size: 28px
  }

  .menu a{
    font-size: 28px;
  
  }
} */

/* @media (max-with:1024px){
  .wrap-vertical{
    width: 50%;
  }

}
@media (max-with:768px){
  .wrap-vertical{
    width: 60%;
  }
} */


@media all and (max-width:480px) {
  *{
    margin:0 auto;
    padding: 0;
    list-style: none;
    margin-bottom: 10px;
    box-sizing: border-box;
    margin: auto;
    font-family: 'Yeon Sung', cursive;
  }

  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #000;
    margin: 0;
    padding: 0;
    margin: auto;
  }

  .swiper-slide{
    font-size: 30px;
    line-height: 35px;
  }
  .wrap-vertical{
    width: 70%;
  }
  .swiper-pagination-bullet{
    line-height: 10px;
  }

  #banner1, #banner2, #banner3, #banner4, #banner5,#banner6,#banner7,#banner8,
  #banner9,#banner10,#banner11,#banner12{
  padding: 25px;
  font-size: 15px;
  margin-right: 10px;
  }

  .title{
    font-size: 28px
  }

  .menu a{
    font-size: 28px;
  
  }

}



  

  
